{% extends "main.html"%}
{%block content%}
<section class="section has-text-centered">
    <h1 class="title has-text-centered">Face and facial landmarks detection on RGB images</h1>
   
 
   
    
</section>

<section class="section has-background-info-light has-text-centered">
    <h2 class="title">Live Facial Landmarks Predictor with  Haar Cascade Detector</h2>
    <img id="bg" class="is-centered" src="{{ url_for('DlibRGB.video_feed') }}">
    {% if success %}
    <p class="has-text-success">{{success}}</p> 
    {%endif%}
    <form action = "/uploader_RGBDetect" method = "POST" 
     enctype = "multipart/form-data">
     <label for="file-upload" class="button is-primary">
       Choose your video
    </label>
    <label for="file-submit" class="button is-danger">
      Upload
   </label>
     <input id="file-upload" type = "file" name = "file" accept=".mp4" style="display: none;" />
     <input id="file-submit" type = "submit" style="display: none;" onclick="move()"/>
  </form>   
  <div class="w3-light-grey">
    <div id="myBar" class="w3-green" style="height:24px;width:0"></div>
  </div>
</section>


{%endblock content%}