<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face and facial landmarks detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{url_for('static', filename='js/hamburger.js')}}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PD4PEB6C8M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PD4PEB6C8M');
</script>
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en"});
      });
      </script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed</a></noscript>
      <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
      <meta property="og:site_name" content="Face Detection Online"/>
      <meta property="og:title" content="Face and drowsiness detection online"/>
      <meta property="og:description" content="Online face,landmarks and drowsiness detection. Implement your own models and test it online!"/>
      <meta property="og:image" content="neuro/static/assets/Photos/Thermal/HAAR+PREDICTOR/2.png">
      <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='favicon/apple-icon-57x57.png') }}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='favicon/apple-icon-60x60.png') }}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='favicon/apple-icon-72x72.png') }}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='favicon/apple-icon-76x76.png') }}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='favicon/apple-icon-114x114.png') }}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='favicon/apple-icon-120x120.png') }}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='favicon/apple-icon-144x144.png') }}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='favicon/apple-icon-152x152.png') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-icon-180x180.png') }}">
      <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='favicon/android-icon-192x192.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='favicon/favicon-96x96.png') }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png') }}">
      <link rel="manifest" href="{{url_for('static', filename='favicon/manifest.json') }}">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
</head>

<body>
  
    <nav class="navbar is-info is-fixed-top " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
        <div id="menu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Main page</a>
                <a class="navbar-item" href="/rgb">RGB Camera</a>
                <a class="navbar-item" href="/thermal">Thermal Camera</a>
                <a class="navbar-item" href="/drowsiness">Drowsiness Detection</a>
                <a class="navbar-item" href="/photo">Photo</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">More</a>
                    <div class="navbar-dropdown">
          
                        <a class="navbar-item" href="/contact">
                          Contact
                        </a>
                </div>    
            </div>
        </div>
        </div>
    </nav>
    {%block content%}
    <section class ="section">
        <h1 class="title has-text-centered">Face, facial landmarks and drowsiness detection in RGB and thermal Videos</h1>
        <p class="has-text-centered">This project is for testing models in OpenCV. This website was created for my bachelor degree in computer science.</p>
        <br>
        <h2 class="title has-text-centered">How it works?</h2>
        <p class="has-text-centered">On this website you can only test your premade videos. If you want to go live using your own camera you have to download source code from <a class="has-text-info" href="/">here.</a> There you can find instruction how to use it locally.</p>
        <p class="has-text-centered">You can choose in which filed you want to detect faces and facial landmarks.</p>
        <br>
        <div class="content has-text-centered">
        <div class="buttons is-centered">
            <a class="button is-primary" href="/rgb">RGB Video</a>
            <a class="button is-danger" href="/thermal">Thermal Video</a>
        </div>
        </div>
        <p class="has-text-centered">Also you can detect drowsiness in this section</p>
        <br>
        <div class="content has-text-centered">
            <div class="buttons is-centered">
                <a class="button is-info" href="/drowsiness">Drowsiness detection</a> 
            </div>
            </div>

        <h3 class="title has-text-centered">How to implement your own model?</h3>
        <p class="has-text-centered">I am currently working on it 😉</p>
        <p class="has-text-centered">However if you are interested in testing your own models check my github. You will find everything you want 😀</p>
    </section>
    <section class="section has-background-info-light has-text-centered">
        <h2 class="title">Upload your RGB video to test if everything is working fine</h2>
        <p class="text">Do not worry about your privacy. Our website will remove your video everytime if someone get to the main page</p>
        <p class="text">Pssss.... If you want to test a image check this out <a class="has-text-info" href='/photo'>CLICK</a> </p>
        <img id="bg" class="is-centered" src="{{ url_for('Main.video_feed') }}">
        {% if success %}
        <p class="has-text-success">{{success}}</p> 
        {%endif%}
        <form action = "/uploader_main" method = "POST" 
         enctype = "multipart/form-data">
         <label for="file-upload" class="button is-primary">
           Choose your video
        </label>
        <label for="file-submit" class="button is-danger">
          Upload
       </label>
         <input id="file-upload" type = "file" name = "file" accept=".mp4" style="display: none;" />
         <input id="file-submit" type = "submit" style="display: none;" onclick="move()"/>
      </form>   
      <div class="w3-light-grey">
        <div id="myBar" class="w3-green" style="height:24px;width:0"></div>
      </div>
    </section>
    {%endblock content%}
    <footer class="footer has-background-black">
      <div class="content has-text-centered">
        <p>
            <span class="icon is-large has-text-white">
              <a class="has-text-white" href="https://www.facebook.com/profile.php?id=100002577283334"><i class="fab fa-2x fa-facebook"></i></a>
            </span>
            <span class="icon is-large has-text-white">
              <a class="has-text-white" href="http://linkedin.com/in/mateusz-broncel-339921149" ><i class="fab fa-2x fa-linkedin"></i></a>
            </span>
            <span class="icon is-large has-text-white">
              <a class="has-text-white" href="https://github.com/Bronsun"><i class="fab fa-2x fa-github-square"></i></a>
            </span>
            <span class="icon is-large has-text-white">
              <a class="has-text-white" href="mailto:mateusz.broncel1998@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>
            </span>
            <p>
              
             
             </p> <a class="has-text-white is-hovered" href="/contact">Contact</a>
            
            </p> <a class="has-text-white is-hovered">Created by Mateusz Broncel</a>
          
      </div>
      
    </footer>
    <script>
      function move() {
        var elem = document.getElementById("myBar");   
        var width = 1;
        var id = setInterval(frame, 30);
        function frame() {
          if (width >= 100) {
            clearInterval(id);
          } else {
            width++; 
            elem.style.width = width + '%'; 
          }
        }
      }
      </script>
</body>

</html>





