{% extends "main.html"%}
{%block content%}
<section class="section has-text-centered">
    <h1 class="title has-text-centered">Face and facial landmarks detection on RGB images</h1>
    
    <p class="has-text-centered is-size-4">Online Face Detection with facial landmarks: </p>
    <div class="buttons is-centered">
        <a class="button is-info" href="/dlibRGB">Test your video!</a></li><br>
       
    
</section>

<section class="section has-background-info-light has-text-centered">
    <h2 class="title">Gallery</h2>
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-4 is-vertical is-parent has-text-centered">
          <div class="tile is-child box has-text-centered">
            
            <article>
               
                
                <figure class="image is-4by3">
                  <img src="static/assets/Photos/RGB/RGB5.png">
                </figure>
              </article>
          </div>
          <div class="tile is-child box">
            
            <article>
               
                
                <figure class="image is-4by3">
                  <img src="static/assets/Photos/RGB/RGB6.png">
                </figure>
              </article>
          </div>
       
    
        </div>
      
      
        <div class="tile is-4 is-vertical is-parent has-text-centered">
          <div class="tile is-child box has-text-centered">
            
            <article>
                
                
                <figure class="image is-4by3">
                  <img src="static/assets/Photos/RGB/RGB2.png">
                </figure>
              </article>
          </div>
          <div class="tile is-child box">
            
            <article>
                
               
                <figure class="image is-4by3">
                  <img src="static/assets/Photos/RGB/RGB3.png">
                </figure>
              </article>
          </div>
       
       
      
        </div>
        <div class="tile is-4 is-vertical is-parent has-text-centered">
            <div class="tile is-child box has-text-centered">
              
              <article>
                
                 
                  <figure class="image is-4by3">
                    <img src="static/assets/Photos/RGB/RGB2.png">
                  </figure>
                </article>
            </div>
            <div class="tile is-child box">
              
              <article>
                 
                 
                  <figure class="image is-4by3">
                    <img src="static/assets/Photos/RGB/RGB4.png">
                  </figure>
                </article>
            </div>
         
         
          
          </div>
    </div>
</section>
<section class="section has-background-info-light has-text-centered">
    <h2 class="title">Demo Haar Cascade Classifier</h2>
    <video width="720" height="540" controls class="is-centered">
      <source src="static/assets/video/RGB.mp4" type="video/mp4">
    </video>
</section>


{%endblock content%}